<%= form_with(model: question, html: { class: "p-4" }, data: { controller: "markdown" }) do |form| %>
  <%= render "shared/error_messages", resource: question %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="md:grid md:grid-cols-2 md:gap-4">
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, id: "markdown_content", class: "h-[400px]", data: { action: "input->markdown#convertToMarkdown" } %>
      <p class="text-xs text-gray-700">マークダウン記法が使えます。</p>
    </div>

    <div>
      <div class="text-gray-700 text-sm font-bold mb-2">プレビュー</div>
        <div class="prose markdown_content shadow rounded h-[400px] p-2 overflow-y-auto" data-markdown-target="viewer"></div>
    </div>
  </div>

  <div class="flex justify-end">
    <%= form.submit yield(:button_text), class: "btn btn-primary mt-4" %>
  </div>
<% end %>
