<div class="py-3 px-2 mb-2 shadow rounded">
  <div class="flex items-center gap-2 mb-2">
    <%= icon(question_status_text(question), css: "size-6 text-#{question_status_color(question)}") %>
    <div class="font-bold text-md">
      <%= link_to question.title, question_path(question) %>
    </div>
  </div>
  <div class="flex items-center gap-2 ml-[32px]">
    <div class="flex items-center gap-2">
      <%= image_tag avatar_url_for(question.user), class: "shadow rounded-full w-6 h-6" %>
      <div class="text-xs font-bold">
        <%= question.user.name %>
      </div>
    </div>
    <div class="text-slate-500 text-xs flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
      </svg>
      <%= question.created_at.to_date %>
    </div>
    <div class="flex items-center gap-1 text-slate-500 ml-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      <div class="text-sm">
        <%= question.comments.size %>
      </div>
    </div>
  </div>
</div>
