<h2 class="text-lg font-bold mb-8">
  なんでも質問
</h2>

<%= form_with(model: @question, html: { class: "p-4" }, data: { controller: "markdown" }) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="md:grid md:grid-cols-2 md:gap-4">
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: "h-[300px]", data: { action: "input->markdown#convertToMarkdown" } %>
      <p class="text-xs text-gray-700">マークダウン記法が使えます。</p>
    </div>

    <div>
      <div class="text-gray-700 text-sm font-bold mb-2">プレビュー</div>
        <div class="prose markdown_content shadow rounded min-h-[300px] p-2" data-markdown-target="viewer"></div>
    </div>
  </div>

  <% if @question.present? %>
    <%= render "shared/error_messages", resource: @question %>
  <% end %>

  <div class="flex justify-end">
    <%= form.submit "投稿", class: "btn btn-primary mt-4" %>
  </div>

<% end %>
