<div class="md:flex md:justify-between md:items-end mb-4 pb-2 border-b">
  <div>
    <div class="font-bold">
      <%= feed.title %>
    </div>
    <%= link_to feed.url, feed.url, class: "text-sm" %>
  </div>
  <div class="md:flex md:items-end md:justify-end md:gap-4">
    <div class="flex items-center gap-1 text-xs">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      <%= l(feed.updated_at.to_time, format: :long) %>
    </div>
    <div class="flex items-center justify-end gap-2">
      <%= button_to "更新", feeds_update_path(id: feed.id), method: :put, class: "btn-sm btn-primary-outline" %>
      <%= button_to "解除", feed_path(feed), method: :delete, class: "btn-sm btn-red", data: { turbo_confirm: "解除しますか？" } %>
    </div>
  </div>
</div>
