<div class="flex flex-col justify-center mt-12">
  <h2 class="text-center text-3xl font-bold text-gray-900"><%= t(".sign_in") %></h2>

  <div class="bg-white mt-8 mx-auto w-full max-w-lg p-8 rounded-lg shadow">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="flex flex-col gap-2 md:flex-row md:justify-between md:items-center mb-8">
        <div class="checkbox-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class: "text-sm font-bold" %>
      </div>
      <%= f.submit t(".sign_in"), class: "btn btn-primary w-full" %>
    <% end %>
  </div>

  <p class="mt-8 text-center text-sm text-gray-600">
    アカウントをお持ちではありませんか？
    <%= link_to "アカウント登録", new_user_registration_path, class: "font-medium text-blue-600 hover:text-blue-800" %>
  </p>
</div>
