<!DOCTYPE html>
<html>
  <head>
    <title>AtsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="flex h-screen">
      <% if user_signed_in? %>
        <%= render "layouts/sidebar" %>
      <% end %>
      <div class="flex flex-col flex-1">
        <% if user_signed_in? %>
          <%= render "layouts/navbar" %>
        <% end %>
        <%= render "shared/flash", flash: flash %>
        <main class="px-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
